/* Fonts */
@font-face {
  font-family: arizonia;
  src: url("Arizonia-Regular.ttf");
}
@font-face {
  font-family: OpenSans;
  src: url("OpenSans-ExtraBold.ttf");
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  position: relative;
  overflow: hidden;
}

/* Page1 styles */

#page1 {
  background-image: url("herobg.png");
  position: relative;
  height: 100vh;
  width: 100vw;
}

/* Dropdown */
.dropdown {
  color: #fff;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 5rem;
  right: 5rem;
  height: 0;
  width: 8rem;
  border-radius: 15px;
  background-color: rgba(12, 23, 58, 0.1);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}
.dropdown.open {
  display: flex;
  height: 9rem;
}
.dropdown > span {
  padding: 3%;
  text-align: start;
}
.dropdown > span > a {
  text-decoration: none;
  color: #fff;
}
nav > .nav-div {
  color: #fff;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: right;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  position: sticky;
  font-family: sans-serif;
  opacity: 0.7;
}
#page1 > nav > .nav-div > span {
  padding: 2%;
}
.nav-div > span > a {
  text-decoration: none;
  scroll-behavior: smooth;
  color: #fff;
}
.nav-div > span > a:hover {
  color: #915eff;
}

nav > .menu {
  font-size: 2rem;
  position: absolute;
  right: 2rem;
  top: 1rem;
  display: none;
  cursor: pointer;
}

.menu > i {
  color: #fff;
}

#page1 > .inner-div > .text {
  position: absolute;
  left: 7vw;
  top: 17vh;
  margin-left: 3rem;
}
#page1 > .inner-div > div > .round {
  width: 2rem;
  height: 2rem;
  border-radius: 50px;
  background-color: #915eff;
  position: absolute;
  left: 2vw;
  top: 10vh;
}
#page1 > .inner-div > .line > .line {
  width: 0.3rem;
  height: 40rem;
  background-image: linear-gradient(#915eff, #614799, #2b292e);
  background-color: #915eff;
  position: absolute;
  left: 2.6vw;
  top: 11vh;
}
#page1 > .inner-div > .line {
  width: 2rem;
  height: 15rem;
}
#page1 > .inner-div > a > button {
  border: navy;
  outline: none;
  border-radius: 10px;
  padding: 1.3rem;
  position: absolute;
  left: 9.5vw;
  top: 40vh;
  background-color: #0b0b40;
  width: 10rem;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}

.downloadbtn::before {
  content: "";
  background-color: #915eff;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform: scale(1.5);
  height: 100%;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}
.downloadbtn:hover::before,
.downloadbtn:focus::before {
  transform: scale(0);
}

#page1 > .inner-div > div > h1 {
  color: #fff;
  display: inline-block;
  opacity: 0.8;
  font-family: arizonia;
  font-size: 12vh;
}

.typewriter {
  overflow: hidden;
  display: inline-block;
  color: #665ed6;
  border-right: 0.15em solid #2d4356;
  white-space: nowrap;
  font-size: 3vh;
  font-family: sans-serif;
  animation: typing 5s steps(30) alternate infinite,
    blink-caret 0.6s step-end alternate infinite;
}

#page1 > .inner-div > img {
  height: 80vh;
  width: 60vw;
  position: absolute;
  bottom: 0vh;
  left: 30vw;
}

/* Page2 */
#page2 {
  height: 100vh;
  width: 100vw;
  background-color: #080a15;
  position: relative;
  padding: 13vh 8vw;
  color: #fff;
}

#page2 > .page2-div > h4 {
  font-family: sans-serif;
  font-size: 2.5vh;
  font-weight: 100;
  color: #fff;
}
#page2 > .page2-div > h1 {
  font-family: OpenSans;
  font-size: 10vh;
  color: #fff;
}
#page2 > .page2-div > p {
  max-width: 65%;
  font-size: 2.5vh;
  font-family: sans-serif;
  opacity: 0.7;
  line-height: 1.3;
}
#page2 > .aboutmeCards {
  display: flex;
  justify-content: start;
}

.card {
  perspective: 1000px;
  height: 16rem;
  width: 14rem;
  margin: 5% 5% 4% 0;
  border-radius: 30px;
  border: double 1px transparent;
  background-image: linear-gradient(#1b173f, #0a1134),
    radial-gradient(circle at top left, pink, green);
  background-clip: padding-box, border-box;
}

.card > .card-inner > .front > img {
  height: 5rem;
  width: 5rem;
}
.card > .card-inner > .front > p {
  font-family: sans-serif;
  text-align: center;
  line-height: 1.3;
  font-weight: 600;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover .card-inner {
  cursor: pointer;
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  padding: 15%;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  border-radius: 30px;
  border: double 1px transparent;
  background-image: linear-gradient(#1b173f, #0a1134),
    radial-gradient(circle at top left, pink, green);
  background-clip: padding-box, border-box;
}

.back {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  border: double 1px transparent;
  background-image: linear-gradient(#1b173f, #0a1134),
    radial-gradient(circle at top left, pink, green);
  background-clip: padding-box, border-box;
  transform: rotateY(180deg);
}

/* Page3 */
#page3 {
  height: 100vh;
  width: 100vw;
  background: #080a15;
}
.timeline {
  padding: 0 8vw;
}
.timeline > h1 {
  color: #fff;
  font-family: OpenSans;
  font-size: 6vh;
}
.timeline-text {
  font-family: sans-serif;
}
.timeline ul {
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #665ed6;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #665ed6 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #665ed6;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #665ed6;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* Page4 */
.portfolio {
  background-color: #080a15;
}
.portfolio > h2 {
  color: #fff;
  margin-bottom: 4rem;
  text-align: center;
  font-size: 10vh;
  font-family: arizonia;
}
.portfolio > h2 > span {
  color: #665ed6;
}
.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.portfolio-container > .portfolio-box {
  position: relative;
  background-color: red;
  width: 25rem;
  height: 17rem;
  border-radius: 2rem;
  overflow: hidden;
  margin: 3%;
  /* display: flex; */
}
.portfolio-box img {
  width: 100%;
  height: 30vh;
  border-radius: 2rem;
  transition: 0.5s ease;
}
.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), #0ef);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}
.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}
.portfolio-layer > h4 {
  font-family: OpenSans;
  color: #fff;
  opacity: 0.8;
  font-size: 3vh;
}

.portfolio-layer > p {
  font-family: sans-serif;
  color: #fff;
  margin: 0.3rem 0 1rem;

  font-size: 1.8vh;
}
.portfolio-layer > a {
  font-size: 3vh;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f45b69 transparent transparent;
  }
}

/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
  bottom: 12px;
}

.timeline-star ul li::after {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.timeline-heptagon ul li::after {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

/* Page5 */
#particles-js {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* display: flex;
  flex-direction: column; */
}
#page5 > #particles-js {
  height: 100%;
  width: 100%;
  padding: 10vh 11vw;
}
.contact {
  /* display: flex; */
  /* flex-direction: column; */
}
#particles-js > .contact-form > h4 {
  color: #fff;
  font-size: 2vh;
  opacity: 0.8;
  font-family: sans-serif;
}
#particles-js > .contact-form > h1 {
  color: #fff;
  font-family: OpenSans;
  font-size: 8vh;
}
#particles-js > .contact-form {
  width: 35vw;
  height: 80vh;
  background-color: #070725;
  position: absolute;
  z-index: 1;
  bottom: 10vh;
  left: 5vw;
  color: #fff;
  padding: 2rem;
}
.earth {
  position: absolute;
  right: 8vw;
  bottom: 25vh;
}
video {
  width: 50vw;
}
.contact-form > div > p {
  padding: 2% 2% 2% 0;
  font-family: sans-serif;
  font-weight: 900;
  font-size: 18px;
  opacity: 0.8;
}
.contact-form > div > input,
textarea {
  border: none;
  background-color: #101447;
  width: 100%;
  height: 3rem;
  margin-bottom: 2rem;
  color: #fff;
  font-size: 18px;
  padding: 1%;
  box-shadow: 2px 2px 2px 2px #080a15;
}
input,
textarea:focus {
  outline: none;
  border: 1px solid black;
}
.contact-form > div > textarea {
  height: 20vh;
  resize: none;
}
.btn {
  color: #fff;
  opacity: 0.8;
  font-weight: 900;
  font-size: 20px;
}
/* animations */
@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 22.5vw;
  }
}
@keyframes typing1 {
  from {
    width: 0;
  }
  to {
    width: 40vw;
  }
}
@keyframes typing2 {
  from {
    width: 0;
  }
  to {
    width: 300px;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #2d4356;
  }
}

/* media queries */

@media (max-width: 700px) {
    #page1 > .inner-div > div > p{
      font-size:2vh;
    }
    #page1 > .inner-div > .text {
    left: 0;
  }
  #page1 > nav > .nav-div {
    display: none;
  }
  nav > .menu {
    display: block;
  }
  .inner-div > .line {
    display: none;
  }
  #page2 > .aboutmeCards {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  #page3 {
    padding-top: 45rem;
  }
  #page4 > h2 {
    font-size: 7vh;
  }
  #page4 {
    padding-top: 35rem;
  }
  .portfolio-box img {
    height: 17rem;
  }
  #page1 > .inner-div > a > button {
    top: 55vh;
    left: 15vw;
  }
}
@media (max-width: 1200px) {
  .earth {
    display: none;
  }
  #particles-js > .contact-form {
    width: 60vw;
    height: 80vh;
  }
  .typewriter {
    border-right: none;
    animation: none;
  }
}
@media (max-width: 850px) {
  #page1 > .inner-div > img {
    display: none;
  }
  #particles-js > .contact-form {
    width: 70vw;
    height: 80vh;
  }
  #page2 > .page2-div > h1 {
    font-size: 6vh;
  }
}
@media (max-width: 1650px) {
  #page1 > .inner-div > img {
    bottom: -8rem;
    left: 3rem;
  }
}
